<div class="jumbotron">
  <h5>Welcome to the Salsa Planet Application</h5>
  <h6>
    This is the home page for the Salsa Planet Application
  </h6>
  <%= link_to "Sign up", signup_path , class: "btn btn-large btn-primary" %>
</div>
