<div class="jumbotron">
<div class="container">
	<% provide(:title, @user.name) %>
	<div class="row">
  		<div class="col-xs-6 col-md-4">
      		<p>
        	<%= @user.name %>
        	<%= @user.email %>
      		</p>
  		</div>
	</div>
</div>
</div>

